h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.additional-links {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.medplum-document h2 {
  font-weight: 500;
}

.medplum-document p {
  font-weight: 200;
}

.homepage .medplum-document {
  width: fit-content;
  max-width: 300px;
}

.homepage article {
  height: fit-content;
}

.resources {
  overflow: scroll;
}

.homepage {
  display: flex;
  justify-content: center;
}